//includin the used libraries
#include<iostream>
#include<string>
using namespace std;
string str;//string we should enter
int oddCounter=0;//number of odd chars
int uniqueCounter=1;//number repetitions of uniqe chars
void main(){
	cin>>str;
	//check the number of repetition for every unique char
	for(int i=0;i<str.size();i++){
		uniqueCounter=1;
		//skip the step if the char have been counted before
			if(str[i]=='0')
			continue;		
		for(int j=i+1;j<str.size();j++)
		{
			//unique char counter and replacement to pervent multiplicated counting
			if(str[i]==str[j])	{
             uniqueCounter++;
			 str[j]='0';
		                 	}		
		}
		//check if the number of repetion per unique char is odd
if(uniqueCounter%2!=0)
	oddCounter++;
	}
	//printing the output deping on the number of odd chars
if(oddCounter==1)
	cout<<"YES";
else
	cout<<"NO";
	system("pause");
}
